<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <h2>lista użytkowników</h2>

        <ul>
            <% if(users.length === 0) {%>
                <li>brak użytkowników</li>
                <% } else { %>
                    <% users.forEach(user => { %>
                        <li>
                            <a href = "/users/<%= user.slug %>"><%= user.userName%></a>
                        </li>
                        
                   <% }); %>

               <% } %>
        </ul>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>