<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <article>
            <h2><%= user.userName></h2>
            <p class = "meta">
                Data założenia konta: <%= user.createAt %>
            </p>
            <div>
                <%= user.description %>
            </div>
        </article>

    </main>
    <%- include('../partials/footer') %>
</body>
</html>